{% extends "Layout.twig" %}

{% block style %}
<link rel="stylesheet" href="./assets/css/new_sequence.css">
{% endblock %}

{% block content %}
<h1>Création d'une séquence</h1>

{% if flash.success %}
<div class="alert alert-success" role="alert">
  {{ flash.success }}
</div>
{% endif %}

{% if flash.error %}
<div class="alert alert-danger" role="alert">
  {{ flash.error }}
</div>
{% endif %}

<div class="box">
    <form action="{{ path_for('createSequence') }}" method="post">
    <div class="mb-3">
        <label for="name_seq" class="form-label">Nom</label>
        <input type="text" class="form-control" id="name_seq" name="name_seq" required>
    </div>
    <button type="submit" class="btn btn-outline-success btn-sm">Créer la séquence</button>
    </form>
</div>
{% endblock %}