{% extends "Layout.twig" %}

{% block style %}
<link rel="stylesheet" href="/assets/css/admin_style.css">
{% endblock %}

{% block content %}
<div class="row justify-content-around">
    <div class="col-4 box">
        <h1>Séquences</h1>
        <hr>
        <a href="{{ path_for('sequences') }}" class="btn btn-outline-warning btn-sm">
            Gestion des séquences
        </a>
        <a href="{{ path_for('createSequence') }}" class="btn btn-outline-success btn-sm">
            Nouvelle séquence
        </a>
    </div>

{% if is_superadmin %}
    <div class="col-4 box">
        <h1>Utilisateurs</h1>
        <hr>
        <a href="{{ path_for('sequences') }}" class="btn btn-outline-warning btn-sm">
            Gestion des utilisateurs
        </a>
        <a href="{{ path_for('createUser') }}" class="btn btn-outline-success btn-sm">
            Nouvel utilisateur
        </a>
    </div>
{% endif %}

</div>
{% endblock %}